<h1> <%= @task.title %> </h1>

<p> <%= @task.details %> </p>

<%= link_to "Back to list", tasks_path %> | <%= link_to "Modify the task", edit_path %> |
<%= link_to "Delete the task", delete_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>